@charset "UTF-8";


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0a0a0a;
    color:#fff;
    font-family:'Poppins',sans-serif;
    min-height:100vh;
    overflow-x:hidden;
}

/* Container */

.container{
    width:95%;
    max-width:1600px;
    margin:auto;
    padding:15px;
}

/* Corner Border */

.corner-border{
    position:absolute;
    top:20px;
    left:20px;
    width:110px;
    height:110px;
    /* border-top:4px dashed #98ff78;
    border-left:4px dashed #98ff78; */
}

/* Horizontal Line */
.top-line{
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:2px;
    background:#72ff5a;
    box-shadow:0 0 8px #72ff5a;
    animation:drawTop 0.8s ease forwards;
}

/* Vertical Line */
.left-line{
    position:absolute;
    top:0;
    left:0;
    width:2px;
    height:0;
    background:#72ff5a;
    box-shadow:0 0 8px #72ff5a;
    animation:drawLeft 0.8s ease forwards 0.8s;
}

/* Animations */

@keyframes drawTop{
    from{
        width:0;
    }
    to{
        width:55px;
    }
}

@keyframes drawLeft{
    from{
        height:0;
    }
    to{
        height:55px;
    }
}

/* Hero Section */

.hero{
    text-align:center;
    margin-top:40px;
    position: relative;
  /*   height: 100vh; */
    background:#000;
    overflow:hidden;
}

.hello{
    font-size:2rem;
    color:#7d8490;
    font-family:'Orbitron',sans-serif;
    animation:fadeIn 1s forwards;
}

@keyframes fadeIn{

from{
opacity:0;
}

to{
opacity:1;
}

}

.name{
    font-family:'Orbitron',sans-serif;
    font-size:4rem;
    margin-top:15px;
    transform:translateY(40px);
    animation:slideUp 1s forwards;
    animation-delay:1s;
}

@keyframes slideUp{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

.name span{
    color:#98ff78;
}

.buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:35px;
    margin-top:25px;
    flex-wrap:wrap;
}

.buttons div{
    color:#cfcfcf;
    font-size:1.1rem;
}

.buttons a{
    color:#98ff78;
    text-decoration:none;
    font-size:1.1rem;
    transition:0.3s;
}

.buttons a:hover{
    color:#ffffff;
}

.hello,
.name,
.typing,
.btn{
    opacity:0;
}

.typing{

    margin-top:15px;

    font-size:28px;

    color:#6CFF4E;

    font-weight:bold;

    opacity:1;
}

.typing span{

    border-right:3px solid #6CFF4E;

    animation:cursor .7s infinite;

}

@keyframes cursor{

50%{

border-color:transparent;

}

}

.btn{

    opacity:0;

    transform:translateY(20px);

}

.btn1{

animation:showBtn .8s forwards;

animation-delay:1.5s;

}

.btn2{

animation:showBtn .8s forwards;

animation-delay:2s;

}

@keyframes showBtn{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}

/* About */

.about{
    margin-top:100px;
}

.section-title{
    font-family:'Orbitron',sans-serif;
    font-size:2.2rem;
    margin-bottom:50px;
    opacity:0;
    transform:translateY(30px);
    animation:titleFade .8s forwards;
}

.section-title
{
   animation-delay:2.5s;
}

@keyframes titleFade{

from{

opacity:0;
transform:translateY(30px);

}

to{

opacity:1;
transform:translateY(0);

}

}

.section-title span{
    color:#98ff78;
}

/* Content */

.about-content{
    display:flex;
    align-items:center;
    gap:70px;
    flex-wrap:wrap;
}

/* Monitor */

.monitor{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.monitor-animation{
    opacity:0;
    transform:scale(0.8);
    animation:monitorIntro 1.3s ease forwards, floating 4s ease-in-out infinite 1.3s;
    animation-delay:3s;
}

.fade-up{

    opacity:0;
    transform:translateY(40px);
    animation:fadeUp .8s forwards;

}

@keyframes fadeUp{

from{

    opacity:0;
    transform:translateY(40px);

}

to{

    opacity:1;
    transform:translateY(0);

}

}


.delay1{

    animation-delay:3.5s;

}

.delay2{

    animation-delay:4s;

}

.delay3{

    animation-delay:4.5s;

}

@keyframes monitorIntro{

    0%{
        opacity:0;
        transform:scale(0.8);
    }

    60%{
        opacity:1;
        transform:scale(1.08);
    }

    100%{
        opacity:1;
        transform:scale(1);
    }

}

@keyframes floating{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-10px);
    }

    100%{
        transform:translateY(0px);
    }

}

.screen{
    width:340px;
    height:240px;
    border:10px solid #b5bcc4;
    background:#050505;
    padding:25px;
    box-shadow:0 0 20px rgba(0,0,0,.5);
}

.line{
    height:10px;
    background:#36d86b;
    margin-bottom:14px;
}

.short{
    width:20%;
}

.medium{
    width:45%;
}

.long{
    width:70%;
}

.stand{
    width:60px;
    height:30px;
    background:#b5bcc4;
}

.base{
    width:120px;
    height:12px;
    background:#111;
}

/* Text */

.text-content{
    flex:1;
    min-width:300px;
}

.text-content p{
    font-size:1.25rem;
    line-height:1.8;
    color:#d6d6d6;
    margin-bottom:25px;
}

.highlight{
    color:#98ff78;
    font-weight:600;
}

/* Responsive */

@media(max-width:768px){

    .name{
        font-size:2.6rem;
    }

    .section-title{
        font-size:1.7rem;
    }

    .about-content{
        flex-direction:column;
        text-align:center;
    }

    .screen{
        width:280px;
        height:200px;
    }

    .text-content p{
        font-size:1rem;
    }
    
     .interest-container{
        grid-template-columns:1fr;
    }

    .section-title h2{
        font-size:2rem;
    }

    .content h3{
        font-size:1.5rem;
    }
}
    
    
    /* Navigation Menu */

.menu{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:50px;
}

.menu a{
    color:#98ff78;
    text-decoration:none;
    font-family:'Orbitron',sans-serif;
    font-size:1.4rem;
    padding:10px 18px;
    border:1px solid #98ff78;
    border-radius:5px;
    transition:.3s;
    opacity:0;
    transform:translateY(30px);
    animation:showMenu .6s forwards;
    
}

.menu a:nth-child(1){

animation-delay:6.5s;

}

.menu a:nth-child(2){

animation-delay:6.7s;

}

.menu a:nth-child(3){

animation-delay:6.9s;

}

.menu a:nth-child(4){

animation-delay:7.1s;

}

.menu a:nth-child(5){

animation-delay:7.3s;

}

@keyframes showMenu{

from{

opacity:0;
transform:translateY(30px);

}

to{

opacity:1;
transform:translateY(0);

}

}


.menu a:hover{
    background:#98ff78;
    color:#000;
 }
 
 
 /* Interest */
 
 .interest-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;
}


.interests .section-title{

    opacity:0;
    transform:translateY(30px);
    animation:titleFade .8s forwards;
    animation-delay:5s;

}

.interest-card{
    background:#17181d;
    border-radius:18px;
    padding:25px;
    display:flex;
    align-items:center;
    gap:25px;
    transition:.3s;
    opacity:0;
    transform:translateY(40px);
    animation:cardUp .8s forwards;
    
}

.interest-card:nth-child(1){

    animation-delay:5.5s;

}

.interest-card:nth-child(2){

    animation-delay:6s;

}

@keyframes cardUp{

from{

opacity:0;
transform:translateY(40px);

}

to{

opacity:1;
transform:translateY(0);

}

}


.interest-card:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px rgba(125,255,106,.15);
}

.icon-box{
    width:95px;
    height:95px;
    border-radius:50%;
    background:#0f1014;
    border:10px solid #202126;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-shrink:0;
}

.icon-box i{
    font-size:2.3rem;
    color:#fff;
}

.content h3{
    font-size:2rem;
    margin-bottom:10px;
    color:#fff;
}

.content p{
    color:#737983;
    line-height:1.7;
    font-size:1.1rem;
    font-family:Arial, sans-serif;
 }
  


